body {
    font-family: Roboto, Helvetica, sans-serif;
    text-align: center;
 }
 
 .x {
    color: red;
    font-size: 130px;     

 }
 
 .o {
    color: blue;
    font-size: 130px;
  }
  h1{
   font-size: 48px;
  }
 #board {
    font: 85px arial, sans-serif;
    margin: 3px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    grid-gap: 10px;
    justify-content: center;
   
    /* Your solution goes here */      
 
 }
 
 #board > div {
    border: 1px solid LightSkyBlue;
    text-align: center;
 }